In [8]:
import pandas as p
x = p.ExcelFile("TestFile.xlsx")
x.sheet_names
[u'Sheet1', u'Sheet2', u'Sheet3']
df=x.parse("Sheet1")
df

                             A1     A2     A3
0                         12.34  23.12  43.12
1                          34.1   34.1  23.10
2                          jdjk    NaN    NaN
3  kdfkdklsllfklkdkksdks;ldklsd    NaN    NaN
4                         kdkfl  ekfjk    NaN
5           lkfklekkfjrkekjrlkj    NaN    NaN

In [9]:
df.head()

                             A1     A2     A3
0                         12.34  23.12  43.12
1                          34.1   34.1  23.10
2                          jdjk    NaN    NaN
3  kdfkdklsllfklkdkksdks;ldklsd    NaN    NaN
4                         kdkfl  ekfjk    NaN

In [14]:
df.columns

Index(['A1', 'A2', 'A3'], dtype='object')

In [26]:
df[p.isnull(df['A3']) & p.isnull(df['A2'])]

                             A1   A2  A3
2                          jdjk  NaN NaN
3  kdfkdklsllfklkdkksdks;ldklsd  NaN NaN
5           lkfklekkfjrkekjrlkj  NaN NaN